@mixin flex-column($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .form-container {
        @include flex-column(1.2rem);
        width: 100%;
        max-width: 450px;

        h1 {
            font-size: 2.2rem;
            text-align: center;
        }

        form {
            @include flex-column(1rem);

            input {
                border: 1px solid #ccc;
                outline: none;
                padding: 0.85rem 1rem;
                font-size: 1rem;
                border-radius: 0.8rem;

                &:focus {
                    border-color: #646cff;
                }
            }

            button {
                padding: 0.85rem;
                font-size: 1rem;
                border-radius: 0.8rem;
                border: none;
                cursor: pointer;
            }
        }

        p {
            font-size: 0.95rem;
            text-align: center;
        }
    }
}